*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}body{
    background-color: #1a0738;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}.section{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 20px;
    padding: 20px;
    
}.profile-card{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -40px;
    grid-template-rows: 2, 1fr;
    

    

}.activity-card{
    background-color: #454852;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;

}.profile-bottom{
    background-color: hsl(263, 55%, 23%);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    margin-left: -50px;
    margin-right: -100px;
    height: 120px;
      

}.container{
    background-color: #4309af;
    height: 25vh;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 250px;
    border-radius: 5%;
    margin-top: -100px;
}.header{
    justify-content: center;
    
}.active{
    color:white;
}.activity-card{
    background-color: hsl(263, 55%, 23%);
    
} .dots{
    color: #fff;
    flex-direction: column;
    

}.card-top{
    height: 10px;
    border-radius: 5%;
    padding: 20px;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
}.work .card-top{
    background-color: #ff8c66;
}.play .card-top{
    background-color: #56c2ff;
}.study .card-top{
    background-color: #ff5c7c;
}.exercise .card-top{
    background-color: #4acf81;
}.social .card-top{
    background-color: #7536d3;
}.self-care .card-top{
    background-color: #f1c75b;


}.work .card-top{
    background-color: #ff8c66;
}.play .card-top{
    background-color: #56c2ff;
}.study .card-top{
    background-color: #ff5c7c;
}.exercise .card-top{
    background-color: #4acf81;
}.social .card-top{
    background-color: #7536d3;
}.self-care .card-top{
    background-color: #f1c75b;
}

    
